body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #111827;
  padding: 35px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 255, 170, 0.2);
  text-align: center;
}

h1 {
  color: #22c55e;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 96%;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

a {
  color: #22c55e;
}